@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model PacienteMV
@{
    ViewData["Title"] = "Paciente";
}
<script src="~/js/site.js"></script>
<br />
<br />
<div class="col-xs-3">
    <ul class="nav nav-tabs tabs-left">
        @foreach (var paciente in Model.pacientes)
        {
            @if (Model.pacientes.First().Equals(paciente))
            {
                <li class="active"><a href="#@paciente.Value.PrimerNombre" data-toggle="tab">@paciente.Value.Nombre</a></li>
            }
            else
            {
                <li><a href="#@paciente.Value.PrimerNombre" data-toggle="tab">@paciente.Value.Nombre</a></li>
            }
        }
    </ul>
</div>

<div class="col-xs-9">
    <!-- Tab panes -->
    <div class="tab-content">
        @foreach (var paciente in Model.pacientes)
        {
            <div class="tab-pane" id="@paciente.Value.PrimerNombre">
                <div class="row">
                    <img src="@paciente.Value.FotoUrl" class="col-xs-3 col-md-3 col-lg-3" />
                    <table class="table">
                        <thead>
                            <tr>
                                <td><h3>Paciente</h3></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><h4>Nombre</h4></td>
                                <td><p>@paciente.Value.Nombre</p></td>
                            </tr>
                            <tr>
                                <td><h4>Estatura</h4></td>
                                <td><p>@paciente.Value.Estatura</p></td>
                            </tr>
                            <tr>
                                <td><h4>Peso</h4></td>
                                <td><p>@paciente.Value.Peso</p></td>
                            </tr>
                            <tr>
                                <td><h4>Edad</h4></td>
                                <td><p>@paciente.Value.Edad</p></td>
                            </tr>
                            <tr>
                                <td><h4>Diagnostico</h4></td>
                                <td><p>hemofilia tipo @paciente.Value.Tipo</p></td>
                            </tr>
                            <tr>
                                <td><h4>Severidad</h4></td>
                                <td><p>@paciente.Value.Severidad</p></td>
                            </tr>
                        </tbody>
                    </table>
                    <canvas id="chart" width="1000" height="500"></canvas>
                    <script>
                        chartData("@paciente.Key");
                    </script>
                </div>
            </div>
        }
    </div>
</div>