@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model PacienteMV
@{
    ViewData["Title"] = "Paciente";
}
<script src="~/js/site.js"></script>
<br />
<br />
<div class="col-xs-3">
    <ul class="nav nav-tabs tabs-left">
        @foreach (var paciente in Model.pacientes)
        {
            @if (Model.pacientes.First().Equals(paciente))
            {
                <li class="active"><a href="#@paciente.Value.PrimerNombre" data-toggle="tab">@paciente.Value.Nombre</a></li>
            }
            else
            {
                <li><a href="#@paciente.Value.PrimerNombre" data-toggle="tab">@paciente.Value.Nombre</a></li>
            }
        }
    </ul>
</div>

<div class="col-xs-9">
    <div class="tab-content">
        @foreach (var paciente in Model.pacientes)
        {
            @if (Model.pacientes.First().Equals(paciente))
            {
                <div class="tab-pane active" id="@paciente.Value.PrimerNombre">
                    <div class="row">
                        <div class="col-xs-1 col-md-1 col-lg-1">
                            <img src="@paciente.Value.FotoUrl"/>
                            <br/><br/>
                            <div class="row">
                                <div class="col-xs-1 col-lg-12 col-md-1 col-sm-offset-12 col-sm-2 text-center">
                                    <button id="agendar" class="btn btn-lg btn-primary btn-block " style ="width:auto">Agendar Cita</button>
                                </div>
                            </div>
                        </div> <br/><br/>
                        <div class="col-xs-6 col-md-6 col-lg-6 col-xs-offset-5 col-md-offset-5 col-lg-offset-5">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td><h3>Paciente</h3></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><h4>Nombre</h4></td>
                                        <td><p>@paciente.Value.Nombre</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>Estatura</h4></td>
                                        <td><p>@paciente.Value.Estatura</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>Peso</h4></td>
                                        <td><p>@paciente.Value.Peso</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>Edad</h4></td>
                                        <td><p>@paciente.Value.Edad</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>Diagnostico</h4></td>
                                        <td><p>hemofilia tipo @paciente.Value.Tipo</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>Severidad</h4></td>
                                        <td><p>@paciente.Value.Severidad</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <canvas id="@paciente.Key" width="750" height="350"></canvas>
                        <script>
                            chartData("@paciente.Key");
                        </script>
                    </div>
                </div>
            }
            else
            {
                <div class="tab-pane" id="@paciente.Value.PrimerNombre">
                    <div class="row">
                        <img src="@paciente.Value.FotoUrl" class="col-xs-4 col-md-4 col-lg-4" />
                        <div class="col-xs-7 col-md-7 col-lg-7 col-xs-offset-1 col-md-offset-1 col-lg-offset-1">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td><h3>Paciente</h3></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><h4>Nombre</h4></td>
                                        <td><p>@paciente.Value.Nombre</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>Estatura</h4></td>
                                        <td><p>@paciente.Value.Estatura</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>Peso</h4></td>
                                        <td><p>@paciente.Value.Peso</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>Edad</h4></td>
                                        <td><p>@paciente.Value.Edad</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>Diagnostico</h4></td>
                                        <td><p>hemofilia tipo @paciente.Value.Tipo</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>Severidad</h4></td>
                                        <td><p>@paciente.Value.Severidad</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <canvas id="@paciente.Key" width="750" height="350"></canvas>
                        <script>
                            chartData("@paciente.Key");
                        </script>
                        </div>
                </div>
            }
        }
    </div>
</div>